.box_advice {
	width: 50%;
	height: 360px;
	padding: 26px 20px;
	margin: 0 auto;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 1rem;

	background-color: var(--dark-grayish-blue);
	box-shadow: 0 0 1.5rem var(--dark-grayish-blue);
	border-radius: 24px;
}

span.advice_number {
	font-size: 1em;
	font-weight: 700;

	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: var(--neon-green);
}

span.advice {
	width: 80%;
	font-size: 2em;
	font-weight: 800;
	text-align: center;
	word-spacing: 2px;
}

img.divider_box {
	max-width: 80%;
	margin-bottom: 2em;
}

/* Responsive */

@media only screen and (max-width: 940px) {
	.box_advice {
		width: 80%;
	}
}

@media only screen and (max-width: 580px) {
	.box_advice span.advice {
		width: 90%;
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 500px) {
	.box_advice span.advice {
		font-size: 1.7em;
	}
}

@media only screen and (max-width: 440px) {
	.box_advice {
		width: 90%;
	}

	.box_advice span.advice_number {
		font-size: 0.8em;
	}

	.box_advice span.advice {
		width: 100%;
		font-size: 1.5em;
	}

	img.divider_box {
		width: auto;
	}
}

@media only screen and (max-width: 360px) {
	.box_advice {
		width: 100%;
		border-radius: 0;
	}

	.box_advice span.advice {
		font-size: 1.45em;
	}
}

@media only screen and (max-width: 300px) {
	.box_advice span.advice {
		font-size: 1.4em;
	}
}
