.slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.6rem;
	width: 5.6rem;
	border-radius: 50%;
}

.slider {
	height: 100%;
	width: 100%;
	display: flex;
}

.slides {
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	margin-right: 0px;
	box-sizing: border-box;

	transform-origin: center center;
	transform: scale(1);
	scroll-snap-align: center;
}

.slide a {
	background: none;
	border: none;
}

a .slide__prev,
.slider::before {
	/* transform: rotate(135deg);
	-webkit-transform: rotate(135deg); */
	left: 5%;
}

a .slide__next,
.slider::after {
	/* transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg); */
	right: 5%;
}

.slider::before,
.slider::after {
	position: absolute;
}

.slider::before,
.slider::after {
	content: "";
	z-index: 1;
	background: none;
	pointer-events: none;
}
