main {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main .container_boxAdvice {
	width: 100%;
	height: 550px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main .container_boxAdvice .row-box {
	width: 100%;
	height: max-content;
}

main .container_boxAdvice .row-button {
	width: 100%;
	height: 90px;

	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-direction: row;
	align-items: center;

	position: relative;
	top: -45px;
}

button.circle_button {
	width: 4.1rem;
	height: 4.1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--neon-green);
	border-radius: 50%;
	border: none;
}

button.circle_button:hover {
	cursor: pointer;
	box-shadow: 0 0 0.8rem var(--neon-green);
}

.chevron {
	padding: 0.5em;
	color: var(--light);
}

.chevron:hover {
	cursor: pointer;
	color: var(--neon-green);
}

.iconSearch_color {
	color: var(--dark-blue);
}

.slider-container {
	height: 5.6rem;
	width: 5.6rem;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	height: 100%;
	width: 100%;
	display: flex;
}

.slides {
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.slide {
	width: 100%;
	margin-right: 0px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	transform-origin: center center;
	transform: scale(1);
	scroll-snap-align: center;
}

main footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer span {
	font-size: 1.15em;
	letter-spacing: 0.1em;
	word-spacing: 0.08em;
}

footer span a {
	color: var(--neon-green);
	text-decoration: none;
}

footer span a:hover {
	text-decoration: underline;
	text-shadow: 0 0 1rem var(--neon-green);
}
