main {
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main .container_boxAdvice {
	width: 100%;
	height: 600px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main .container_boxAdvice .row-box {
	width: 100%;
	height: max-content;
}

main .container_boxAdvice .row-button {
	width: 100%;
	height: max-content;

	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

button.circle_button {
	width: 4.1rem;
	height: 4.1rem;

	position: relative;
	top: -30px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--neon-green);
	border-radius: 50%;
	border: none;
}

button.circle_button:hover {
	cursor: pointer;
	box-shadow: 0 0 0.8rem var(--neon-green);
}

span.triangle {
	width: 0;
	height: 0;
	position: relative;
	top: -31px;
}

span.triangle:hover {
	cursor: pointer;
}

span.triangle.t-left {
	margin-right: 10px;
	border-top: 0.8em solid transparent;
	border-right: 0.8em solid var(--neon-green);
	border-bottom: 0.8em solid transparent;
}

span.triangle.t-right {
	margin-left: 10px;
	border-top: 0.8em solid transparent;
	border-left: 0.8em solid var(--neon-green);
	border-bottom: 0.8em solid transparent;
}

main footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer span {
	font-size: 1.15em;
	letter-spacing: 0.1em;
	word-spacing: 0.08em;
}

footer span a {
	color: var(--neon-green);
	text-decoration: none;
}

footer span a:hover {
	text-decoration: underline;
	text-shadow: 0 0 1rem var(--neon-green);
}
