main {
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	overflow: hidden;
}

main .container_boxAdvice {
	width: 100%;
	height: 600px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main .container_boxAdvice .row-box {
	width: 100%;
	height: max-content;
}

main .container_boxAdvice .row-button {
	width: 100%;
	height: max-content;
}

main .container_boxAdvice .row-button .circle_button {
	width: 4.1rem;
	height: 4.1rem;
	margin: 0 auto;

	position: relative;
	top: -30px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--neon-green);
	border-radius: 50%;
}

main .container_boxAdvice .row-button .circle_button:hover {
	cursor: pointer;
	box-shadow: 0 0 2.1rem var(--neon-green);
}
